@use '../../../../styles.scss' as main;

:host {
  background-color: var(--bg-dark-blue);
  .menu-nav {
    line-height: 1rem;
    display: flex;
    align-items: center;
    max-width: var(--content-max-width-lg);
    justify-content: space-between;
    @include main.main-content-size;

    &__header-button-list {
      display: flex;
      align-items: center;
      gap: 1rem;
      list-style: none;
      li > a {
        color: white;
        text-decoration: none;
      }
    }
    &__title {
      font-size: 1.5rem;
      font-weight: bold;
      & > a {
        color: white;
        text-decoration: none;
      }
    }

    &__mobile-menu-button {
      display: none;
    }
  }

  @media (max-width: 968px) {
    .menu-nav {
      &__header-button-list.desktop {
        display: none;
      }

      &__mobile-menu-button {
        display: block;
        color: white;
      }
    }

    .menu-nav__header-button-list.desktop {
      display: none;
    }
  }
  @media (max-width: 600px) {
    .menu-nav {
      &__header-button-list.desktop {
        display: none;
      }

      &__mobile-menu-button {
        display: block;
        color: white;
      }
    }

    .menu-nav__header-button-list.desktop {
      display: none;
    }
  }
}
