<div class="songs-input">
  <p class="songs-input__title">List options</p>
  <form #inputForm="ngForm" class="songs-input__form" (ngSubmit)="emitApply()">
    <div class="songs-input__form__section for-filters">
      <mat-form-field class="songs-input__form__section__field">
        <mat-label>Filter from</mat-label>
        <input matInput [matDatepicker]="picker" ngModel placeholder="MM/DD/YYYY" name="from" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="songs-input__form__section__field">
        <mat-label>Filter until</mat-label>
        <input
          matInput
          [matDatepicker]="picker2"
          placeholder="MM/DD/YYYY"
          name="until"
          ngModel
          #untilDpRef="ngModel" />
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        @if (untilDpRef.invalid && untilDpRef.touched) {
          <mat-error>Until cannot be before from</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="songs-input__form__section for-sorts">
      <mat-form-field class="songs-input__form__section__field">
        <mat-label>Sort by</mat-label>
        <mat-select ngModel name="sortField">
          @for (field of sortFields; track field) {
            <mat-option [value]="field.value">{{ field.title | titlecase }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-checkbox name="isSortingDesc" ngModel class="songs-input__form__section__checkbox">
        Sort descendently
      </mat-checkbox>
    </div>
    <ul class="songs-input__form__button-section">
      <li>
        <button class="app-btn" type="button" (click)="handleClear()">Clear</button>
      </li>
      <li>
        <button class="app-btn" type="submit" [disabled]="!inputForm.valid">Apply</button>
      </li>
    </ul>
  </form>
</div>
