.songs-input {
  &__title {
    font-weight: 600;
    font-size: 1.3rem;
  }
  &__form {
    height: 4rem;
    display: flex;
    gap: 2rem;
    height: 5rem;
    align-items: center;

    &__section {
      position: relative;
      width: 40%;
      display: flex;
      gap: 0.25rem;
      flex-shrink: 0;

      &__field {
        margin-top: 1rem;
      }

      &__checkbox {
        display: flex;
      }
    }

    &__button-section {
      display: flex;
      padding: 0;
      list-style: none;
      flex-grow: 1;
      justify-content: right;
      gap: 0.5rem;
      & li {
        display: inline;
      }
    }
  }

  @media (max-width: 600px) {
    &__title {
      margin: 0.5rem;
    }
    &__form {
      display: block;
      height: unset;
      &__section {
        width: 100%;
        gap: 1rem;

        &__field {
          margin-top: 1rem;
          max-width: 50%;
        }

        &__checkbox {
          flex-grow: 1;
          flex-shrink: 0;
        }
      }

      &__button-section {
        justify-content: center;
      }
    }
  }

  @media (max-width: 968px) {
    &__title {
      margin: 0.5rem;
    }
    &__form {
      display: block;
      height: unset;
      &__section {
        width: 100%;
        gap: 1rem;

        &__field {
          flex: 1;
          margin-top: 1rem;
          max-width: 100%;
        }

        &__checkbox {
          flex-grow: 0;
          flex-shrink: 1;
        }
      }

      &__button-section {
        text-align: right;
        justify-content: center;
      }
    }
  }
}
