@mixin info-field {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

:host {
  border-left: 5px solid var(--primary-color);
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  box-shadow: 1px 1px 3px #555555;
  margin-bottom: 1rem;
  transition: 0.15s all ease-in-out;

  &:hover {
    box-shadow: 2px 3px 5px #555555;
  }
  .info {
    flex: 1 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    &__song-picture {
      flex: 0 1;
    }
    &__song-info {
      flex: 1 0;
      &__title {
        margin: 0;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: bolder;
      }
      &__artist,
      &__release-date {
        @include info-field;
      }
    }
    &__internal-info {
      width: 15%;
      &__id,
      &__price {
        @include info-field;
      }
    }
  }
  .actions {
    flex: 0 0;
    &__list {
      list-style: none;
      text-align: end;
      display: flex;
      justify-content: end;
      align-items: center;
      height: 100%;
      gap: 0.5rem;
      padding: 0;

      & li {
        margin-bottom: 0.25rem;
      }
    }
  }

  @media (max-width: 600px) {
    display: block;

    .info {
      width: 100%;
      display: block;
      &__song-info {
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
      }
      &__internal-info {
        width: 100%;
        display: block;
        margin-bottom: 0.5rem;
      }
    }
    .actions {
      width: 100%;
      display: block;
      &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 0.5rem;
        padding: 0;

        & li {
          margin-bottom: 0.25rem;
        }
      }
    }
  }
}
