.form-wrapper {
  padding: 3rem 1rem 0;
  max-width: 50rem;
  margin: 0 auto;
}

.songs-form {
  &__field {
    margin-bottom: 1rem;
    width: 100%;
  }
  &__actions-list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.25rem;
    justify-content: end;
  }
}

.loading-spinner {
  display: inline-block;
}
