main.content {
  width: 100%;
  max-width: var(--content-width-lg); /* Max width for large screens */
  margin: 0 auto; /* Centering the container */
  padding: 20px; /* Padding inside the container */
}

header {
  width: 100%;
  background-color: var(--bg-dark-blue);
  padding: 0 10vw;
}
