// Colors
:root {
  --primary-color: #3498db;
  --highlight-green-color: #00793a;
  --highlight-red-color: #8b0000;
  --bg-dark-blue: #1a2944;
  --main-shadow: 0 3px 6px #00000029;
}

// Sizes
:root {
  --content-width-lg: 80vw;
}

// Fonts
:root {
  --headline-font: Cabin, sans-serif;
  --regular-font: Inter, sans-serif;
}

a,
li,
li a,
p,
p a {
  font-family: var(--regular-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--headline-font);
}

h2 {
  font-size: 36px;

  margin-bottom: 25px;
  color: var(--highlight-green-color);
}

button.app-btn {
  cursor: pointer;
  color: white;
  font-size: 1rem;
  line-height: 1.2rem;
  height: 3rem;
  font-family: var(--regular-font);
  font-weight: 600;
  background-color: var(--highlight-green-color);
  box-shadow: var(--main-shadow);
  padding: 0.7rem 1rem;
  transition: 0.25s all ease;
  &:hover {
    background-color: hsl(0, 0%, 100%);
    color: #1e2859;
    border: 2px solid var(--highlight-green-color);
  }

  &[disabled] {
    pointer-events: none;
    background-color: hsl(0, 0%, 100%);
    color: gray;
    border: 2px solid var(gray);
  }
  &.danger {
    background-color: var(--highlight-red-color);
    border: 2px solid var(--highlight-red-color);
    &:hover {
      background-color: hsl(0, 0%, 100%);
      color: #000;
    }
  }
}

.mat-datepicker-content-container {
  background-color: white;
  border: 2px solid var(--highlight-green-color);
  border-radius: 5px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--regular-font);
}
